<launch>
  <arg name="global_frame_id"       default="map"/>
  <arg name="odom_frame_id"         default="odom"/>
  <arg name="base_frame_id"         default="base_link"/>
  <arg name="scan_topic"            default="/scan"/>
  <arg name="transform_tolerance"   default="0.1"/>
  <arg name="initial_pos_x"         default="0.0"/>
  <arg name="initial_pos_y"         default="0.0"/>
  <arg name="initial_pos_a"         default="0.0"/>
  <arg name="d_thresh"              default="0.0005"/>
  <arg name="a_thresh"              default="0.0005"/>
  <arg name="l2_max"                default="0.5"/>
  <arg name="resolution"            default="0.05"/>
  <arg name="patch_size"            default="32"/>
  <arg name="strategy"              default="gn"/>
  <arg name="max_iterations"        default="100"/>
  <arg name="use_compression"       default="false"/>
  <arg name="compression_algorithm" default="lz4"/>
  <arg name="cache_size"            default="100"/>
  <arg name="mrange"                default="10.0"/>
  <arg name="beam_step"             default="1"/>
  <arg name="truncate"              default="0.0"/>
  <arg name="truncate_range"        default="0.0"/>
  <arg name="map_publish_period"    default="1.0"/>
  <arg name="transient_map"         default="false"/>
  <arg name="create_summary"        default="false"/>

  <node pkg="iris_lama_ros" name="slam2d_ros" type="slam2d_ros" output="screen">
      <param name="global_frame_id"       value="$(arg global_frame_id)"/>
      <param name="odom_frame_id"         value="$(arg odom_frame_id)"/>
      <param name="base_frame_id"         value="$(arg base_frame_id)"/>
      <param name="scan_topic"            value="$(arg scan_topic)"/>
      <param name="transform_tolerance"   value="$(arg transform_tolerance)"/>
      <param name="initial_pos_x"         value="$(arg initial_pos_x)"/>
      <param name="initial_pos_y"         value="$(arg initial_pos_y)"/>
      <param name="initial_pos_a"         value="$(arg initial_pos_a)"/>
      <param name="d_thresh"              value="$(arg d_thresh)"/>
      <param name="a_thresh"              value="$(arg a_thresh)"/>
      <param name="l2_max"                value="$(arg l2_max)"/>
      <param name="resolution"            value="$(arg resolution)"/>
      <param name="patch_size"            value="$(arg patch_size)"/>
      <param name="strategy"              value="$(arg strategy)"/>
      <param name="max_iterations"        value="$(arg max_iterations)"/>
      <param name="use_compression"       value="$(arg use_compression)"/>
      <param name="compression_algorithm" value="$(arg compression_algorithm)"/>
      <param name="cache_size"            value="$(arg cache_size)"/>
      <param name="mrange"                value="$(arg mrange)"/>
      <param name="beam_step"             value="$(arg beam_step)"/>
      <param name="truncate"              value="$(arg truncate)"/>
      <param name="truncate_range"        value="$(arg truncate_range)"/>
      <param name="map_publish_period"    value="$(arg map_publish_period)"/>
      <param name="transient_map"         value="$(arg transient_map)"/>
      <param name="create_summary"        value="$(arg create_summary)"/>
  </node>
</launch>
